# Force numpy as tensorflow
numpy~=1.19.2
configparser
git+https://github.com/ClaudioBorges/ehrpreper.git
matplotlib
sentencepiece == 0.1.*
tensorflow
tensorflow-text
tensorboard
tqdm
# Use gensim 4.1 because of numpy compatibility between it and tensorflow
gensim < 4.1
python-Levenshtein
scikit-learn
